@{
    ViewBag.Title = "Name Search";
}

<div id="GitHubSearch">
    <div class="search-container">
        <div class="row">
            <div class="col-3">
            </div>
            <div class="col-6">
                <h2>Search GitHub by name</h2>
            </div>
            <div class="col-3">
            </div>
        </div>
        <div class="row search-section" style="margin-top: 10px;">
            <form class="form-inline">
                <div class="form-group mb-4">
                    <input type="text" class="form-control" id="nameInput" placeholder="Enter a name">
                </div>
                <button type="button" class="btn btn-primary mb-2 search-button">Search</button>
            </form>
        </div>
    </div>

    <div class="results-container hidden">
        <div class="row">
            <div class="col-3">
            </div>
            <div class="col-6">
                <h2>Results</h2>
            </div>
            <div class="col-3">
            </div>
        </div>
        <div class="results">

        </div>
    </div>
</div>