@{
    ViewBag.Title = "GitHub Search";
}

<div class="jumbotron">
    <h1 style="text-align:center">GitHub Search</h1>
</div>

<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <label for="nameInput">Start your search</label>
                <input type="text" class="form-control" id="nameInput" placeholder="Enter a name to find on GitHub.">
            </div>
        </form>
    </div>
    <div class="col-md-4">
    </div>
</div>